.center {
        margin: auto;
        width: 50%;
        border: 3px solid black;
        padding: 10px;
        text-align: center;
        .clearfix {
        overflow: auto;
        }
    input {
            width: 100%;
        }
    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border-radius: 4px; 
    }
    input[type=text]:focus {
        border: 3px solid #555;
    }